.profile__profile-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media screen and (max-width: 732px) {
    .profile__profile-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}