.popup__input-error_hidden {
    display: none;
}

.popup__input-error {
    color: #FF0000;
    position: absolute;
    font-size: 0.75rem;
    line-height: 1.25;
    margin-top: 5px;
    display: block;
}