.profile__name-with-edit-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media screen and (max-width: 507px) {
    .profile__name-with-edit-button {
        max-width: 320px;
    }
}

@media screen and (max-width: 400px) {
    .profile__name-with-edit-button {
        max-width: 282px;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }
}