.header__exit-button {
    cursor: pointer;
    background-color: #000000;
    border: none;
    font-size: 1.125rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

.header__exit-button:hover {
    opacity: 85%;
}
