.entry__save-button {
    margin: 216px 0 0 0;
    height: 50px;
    background-color: #fff;
    font-size: 1.125rem;
    line-height: 1.2;
    border: none;
    cursor: pointer;
}

.entry__save-button:hover {
    opacity: 85%;
}
