@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter__Web/inter.css);
@import url(./blocks/App/App.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__name-with-edit-button/profile__name-with-edit-button.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__profile-info/profile__profile-info.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__edit-background/profile__edit-background.css);
@import url(./blocks/profile/__profile-info-text/profile__profile-info-text.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__add-button-image/profile__add-button-image.css);
@import url(./blocks/profile/__edit-button-image/profile__edit-button-image.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__figure/element__figure.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__image-wrapper/element__image-wrapper.css);
@import url(./blocks/element/__figcaption/element__figcaption.css);
@import url(./blocks/element/__figcaption-text/element__figcaption-text.css);
@import url(./blocks/element/__like-section/element__like-section.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__delete-button/_hidden/element__delete-button_hidden.css);
@import url(./blocks/element/__delete-button/_visible/element__delete-button_visible.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_not-valid/popup__input_not-valid.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup-change-avatar/__button/popup-change-avatar__button.css);
@import url(./blocks/popup-confirm/__button/popup-confirm__button.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/popup-image/_opened/popup-image_opened.css);
@import url(./blocks/popup-image/__wrapper/popup-image__wrapper.css);
@import url(./blocks/popup-image/__image/popup-image__image.css);
@import url(./blocks/popup-image/__subtitle/popup-image__subtitle.css);
@import url(./blocks/popup-image/__close/popup-image__close.css);
@import url(./blocks/popup-confirm/__title/popup-confirm__title.css);
@import url(./blocks/popup-confirm/__form/popup-confirm__form.css);
@import url(./blocks/popup-change-avatar/__title/popup-change-avatar__title.css);
@import url(./blocks/popup-change-avatar/__container/popup-change-avatar__container.css);
@import url(./blocks/popup-change-avatar/__input-error/popup-change-avatar__input-error.css);
@import url(./blocks/popup-change-avatar/__form/popup-change-avatar__form.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/entry/entry.css);
@import url(./blocks/entry/__main-content/entry__main-content.css);
@import url(./blocks/entry/__form/entry__form.css);
@import url(./blocks/entry/__title/entry__title.css);
@import url(./blocks/entry/__input/entry__input.css);
@import url(./blocks/entry/__save-button/entry__save-button.css);
@import url(./blocks/entry/__link/entry__link.css);
@import url(./blocks/entry/__link/_hidden/entry__link_hidden.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__exit-button/header__exit-button.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/popup-info/__container/popup-info__container.css);
@import url(./blocks/popup-info/__icon/popup-info__icon.css);
@import url(./blocks/popup-info/__text/popup-info__text.css);
@import url(./blocks/popup/_opened/popup_opened.css);