.header {
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 0 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    justify-content: space-between;
}

@media screen and (max-width: 930px) {
    .header {
        margin: 0 30px 0 30px;
    }
}

@media screen and (max-width: 507px) {
    .header {
        margin: 0 auto;
        padding: 0;
    }
}